div{
    height: 200px;
    width: 200px;
    border-radius: 10%;
    background-color: blue;
    border: 3px skyblue;
    transition: all 0.5s ease-in-out;
    transform: scale(1.2);
    opacity: 0;
    margin: 0 auto 20px auto;
}

.visible{
    transform: scale(1);
    opacity: 1;
}
